<h1 class="mt-4">Admin Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<br>
<p>Current Active Sessions:</p>
<p>
  <% userData.forEach(data => { %>
    SessionID: <a href="/dashboard/revoke/<%= data.sessionId %>"><%= data.sessionId %></a><br>
    UserID: <%=data.userId%><br>
  <% }); %>
</p>
<a href="/auth/login">Revoke Session</a>

