<h1 class="mt-4">Admin Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<br>
<p>Current Active Sessions:</p>
<p>SessionID: 
  <% sessions.forEach(session => { %>
  <a href="/dashboard/revoke/<%= session %>"><%= session %></a>
  <% }); %>
</p>
<p>UserID: <%= user.id %></p>
<a href="/auth/login">Revoke Session</a>

